@charset "utf-8";

/* font-family: 'PPNeueMontreal'; */
@import url(./assets/styles/PPNeueMontreal.css);

body {
  font-family: var(--font-main-en);
}

section {
  margin: 10vh 0;
}

/***** main-intro *****/
.main-introduce {
  margin: 0 auto;
  height: 100vh;
  align-content: center;
  text-align: center;
}

.main-introduce .main-introduce-txt  {
  margin-top: 100px;
}

.main-introduce .main-introduce-txt .main-introduce-txt-wrapper  {
  font-size: var(--font-main-title-xxlg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.main-introduce .main-introduce-txt .main-introduce-txt-wrapper .main-introduce-web-wrapper {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}

.main-introduce .content,
.main-introduce .content2,
.main-introduce .content3,
.main-introduce .content4,
.main-introduce .content5,
.main-introduce .content6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로티 이미지 크기 조절 */
.main_introduce_arrow svg {
  width: 240px;
  padding-top: 20px;
}
.main-introduce-shining-line,
.main-introduce-mouse  {
  width: 100px;
}
.main-introduce-mouse svg {
  padding-top : 15px;
}
.main_introduce-shining,
.main-introduce-emotion,
.main-introduce-rabbit {
  width: 120px;
}

.main-introduce-name {
  width: 100%;
  justify-content: center;
}


/* 포트폴리오 옆에 있는 화살표 */
.main-introduce-portfolio {
  position: relative;
  text-indent: 200px;
}
 .main-introduce-bigarrow {
  position: absolute;
  z-index: -1;
  left: -50px;
  bottom: 40px;
  width: 230px;
}

/* 포트폴리오 메인 - 아래 타이틀들 */
.main-introduce .main-introduce-txt .main-introduce-intro {
  font-size: var(--font-main-title-rg);
  margin:  var(--spacing-sm);
  line-height: 1.8rem;
}

/* 버튼스타일 */
.main-introduce-exploring button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 16px 32px;
  border-radius: 30px;
  font-size: var(--font-main-title-rg);
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin: 30px auto;
}

/* scroll down */
.main-introduce .main-introduce-txt .main-scroll {
  font-size: var(--font-main-title-sm);
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: var(--spacing-sm);
}



/***** main-project *****/
.project .main-title {
  margin-bottom: var(--spacing-lg);
}

.project .project-list {
  margin-bottom: var(--spacing-md);
  transition: 0.3s;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: var(--spacing-sm);
}
.project .project-list li{ 
  color: var(--color-primary-second);
  font-size: var(--font-main-title-md);
  margin-bottom: var(--spacing-sm);
  transition: 0.3s;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  padding: 10px 20px;
}

.project .project-list li.active {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transition: opacity 0.3s;
}

#shisvg {
  height: 20px;
}
/* 프로젝트 리스트 수정 */
.project-wrapper ul {
  opacity: 0;
  transform: translateY(20px); 
  transition: 0.5s ease;
  display: none;}
.project-wrapper ul.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

/* webpub */
.project-wrapper .webpub {
  gap: 30px;
}
.project-wrapper .webpub li .pr {
  position: relative;
  color: var(--color-secondary);
  font-family: var(--font-main-ko);
}

.project-wrapper .webpub li .pr .pr-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: var(--spacing-sm);
  z-index: 2; 
  text-align: center; 
  opacity: 1;
  transition: opacity 0.3s ease;
  line-height: 1.5;
}

.project-wrapper .webpub li .pr .pr-img {
  border-radius: 24px;
  width: 100%;
  transition: filter 0.3s ease; 
  filter: brightness(0.5); 
  z-index: 1; 
}

.project-wrapper .webpub li .pr:hover .pr-img {
  filter: brightness(1); 
}
.project-wrapper .webpub li .pr:hover .pr-info {
  opacity: 0; 
}
.project-wrapper .webpub li .pr .pr-info .pr-name {
  font-size: var(--font-main-title-md);
  font-weight: 600;
}

.project-wrapper .webpub li .pr .pr-info img {
  width: 24px;
  margin-top: 20px;
}
/***** main-aboutme *****/
.aboutme {flex-direction: column; text-align: right;}
.aboutme .main-title {text-align: left;}

.aboutme .me-wrapper {
  width: 50vw;
  justify-items: end;
  margin-left: auto;
  font-family: var(--font-main-ko);
}

.aboutme .me-wrapper .me-list {
  font-size: var(--font-main-title-md);
  font-family: var(--font-main-ko);
  width: 50%;
  display: flex;
  flex-direction: column;
  place-content: end;
  align-items: flex-start;
}

.aboutme .me-wrapper .me-list li {
  padding: 20px;
  display: flex;
  align-items: start;
  gap: 10px;
  margin-right: 50px;
  text-align: left;
}

.aboutme .me-wrapper img {
  width: 70%;
  margin-left: auto;
  display: block;
}
.aboutme .me-wrapper .me-list li img {
  width: auto;
}

.aboutme .me-info {
  font-size: var(--font-main-title-lg);
  padding-top: var(--spacing-lg);
  position: relative;
  width: auto;
  display: inline-block;
  margin-bottom: var(--spacing-xlg);
}

.aboutme .me-info::before {
  content: "";
  width: 80px; height: 80px;
  position: absolute;
  background: url(./images/aboutme2.png) no-repeat;
  top: 60%;
  left: -8%;
}
.aboutme .me-info strong {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}






/***** main-skill *****/
.main-skill {
  padding-top: var(--spacing-lg);
  font-family: var(--font-main-ko);
}
.skill-list {
  flex-flow: column;
  width: 50vw;
  margin-left: auto;
  
}

.skill-list li {
  border-bottom: var(--color-primary) solid 2px;
}
.skill-list li:last-child {
  border-bottom: none;
}

.sk-list a {
  cursor:pointer;
  font-size: var(--font-main-title-lg);
  font-family: var(--font-main-en);
  font-weight: 500;
  padding: var(--spacing-md) 0;
  gap: 30px;
  padding-left: var(--spacing-sm);
  transition: 0.3s;

}
.sk-list a strong {
  font-weight: 500;
}

/* 아코디언 기능 구현 */

.sk-list .hide{
  display:none; 
  font-family: var(--font-main-ko);
  padding-left: var(--spacing-xlg);
  margin-bottom: var(--spacing-rg);
}

.hide {
  border-top: var(--color-primary) dotted 2px ;
  padding: 10px;
}

.hide li{
  font-size: var(--font-main-title-rg);
  line-height: 3rem;
  border-bottom: none;
}


.skill-list li:hover a {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}


/***** main-experience  *****/
.experience .experience-list {
  font-family: var(--font-main-ko);
}
.experience .experience-list  { 
  grid-template-columns: repeat(4, 1fr);
  margin-top: var(--spacing-md);
  margin-left: var(--spacing-xsm);
}

.experience .experience-list li {
  position: relative;
  height: 250px;
}

.experience .experience-list li:nth-child(-n+4)
{
  border-top: var(--border-btm-primary);
  border-bottom: var(--border-btm-primary);
  padding: var(--spacing-md) 50px var(--spacing-md) 0;
}

.experience .experience-list li:nth-child(4){
  border-right: var(--border-btm-primary);
  border-radius: 0 200px 200px 0;
 }
 .experience .experience-list li:nth-child(n+5):nth-child(-n+8){
  padding: var(--spacing-md) 50px var(--spacing-md) 0;
}

.experience .experience-list li::before
 {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.experience .experience-list li p {
  padding-bottom: var(--spacing-xsm);
  margin-top: var(--spacing-rg);
}

.experience .experience-list  li strong {
  line-height: 2.5rem;
}

.experience .experience-list li p {
  font-size: var(--font-main-title-rg);
}

.experience .experience-list li strong {
  font-size: var(--font-main-title-md);
  font-weight: 500;
}

/* order 순서 */
.experience li:nth-child(1) {order: 1;}
.experience li:nth-child(2) {order: 2;}
.experience li:nth-child(3) {order: 3;}
.experience li:nth-child(4) {order: 4;}
.experience li:nth-child(5) {order: 8;}
.experience li:nth-child(6) {order: 7;}
.experience li:nth-child(7) {order: 6;}
.experience li:nth-child(8) {order: 5;}


/***** main-license  *****/
.license .main-license-list {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  margin: var(--spacing-xlg) 0;
  font-family: var(--font-main-ko);
}
.license .main-license-list li {
  border: var(--border-btm-primary);
  box-sizing: border-box;
  width: calc(100vw / 5 );
  aspect-ratio: 1 / 1;
  padding: var(--spacing-xsm);
  font-size: var(--font-main-title-md);
  flex-wrap: wrap;
  position: relative;
}

.license .main-license-list li:first-child,
.license .main-license-list li:nth-child(4) {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.license .main-license-list li:first-child {
  grid-column: 2;
}

.license .main-license-list li:last-child {
  border:  none;
  background: url(./images/shinig-line2.svg) no-repeat 50% / 80% ;
  animation: move 10s infinite linear;
}

.license .main-license-list li strong {
  font-weight: 600;
  line-height: 1.6;
}

.license .main-license-list li p {
  position: absolute;
  bottom: var(--spacing-xsm); 
  font-size: var(--font-main-title-rg);
}