@charset "utf-8";

/* 전체컬러 */
body {
      color: #FF7F00;
}


/* 공통 css */
html ::selection {
      background-color: #FF7F00;
      color: var(--color-secondary);
    }


.project-subject:before {
      content: "";
      background: url(./images/project3-subject-before.svg) no-repeat 100% / 100%;
      width: 20px;
      height: 20px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);

}

.project-subject {
      font-family: var(--font-main-en);
      letter-spacing: 1.5px;
      text-align: center;
      position: relative;
      font-size: var(--font-main-title-rg);
      text-transform: uppercase;
}


/* project-title */
.project-title {
      height: 90vh;
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-top: 80px;
}


.project-title .project-title-wrapper .project-title-design-wrapper .project-title-design {
      font-family: var(--font-main-en);
      font-size: var(--font-main-title-rg);
      margin-bottom: var(--spacing-xxsm);
}

.project-title .project-title-wrapper .project-title-design-wrapper strong {
      font-family: var(--font-main-ko);
      font-size: var(--font-main-title-xlg);
}

.project-title .project-title-wrapper .project-title-design-wrapper .project-title-name {
      font-family: var(--font-main-ko);
      font-weight: 700;
      font-size: var(--font-main-title-xxlg);
      color: var(--color-secondary);
      background-color: #FF7F00;
      line-height: 107px;
      margin: var(--spacing-xsm) 0;
}

.project-title .project-title-wrapper .project-title-design-wrapper .project-title-explanation .project-title-skill img {
      margin: var(--spacing-xxsm);
      margin-left: 0;
}

.project-title .project-title-wrapper .project-title-design-wrapper .project-title-explanation {
      color: rgba(0, 0, 0, 0.8);
      font-family: var(--font-main-ko);
      font-weight: 500;
      line-height: 2rem;
      font-size: var(--font-main-title-rg);
      margin-bottom: var(--spacing-sm);
}



.project-title .project-title-big-name {
      position: absolute;
      bottom: 5vh;
      font-family: var(--font-main-en);
      font-weight: 900;
      font-size: 12rem;
      line-height: 0.8;
      color: rgba(255, 156, 58, 0.1);
      z-index: -1;
}

.project-title .project-title-img {
      align-self: center;
}

.project-title .project-title-img img {
      width: 100%;
      max-width: 550px;
      top: 50%;

}


/* project-overview */
.project-overview {
      margin: var(--spacing-md) 0;
      background: url(./images/project3-overview.png) no-repeat 100% / cover;
      height: 500px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
}

.project-overview .project-overview-wrapper {
      margin-top: 50px;
}

.project-overview .project-overview-wrapper .project-overview-title {
      font-family: var(--font-main-ko);
      font-size: var(--font-main-title-xlg);
      color: #222222;
}


.project-overview .project-overview-wrapper .project-overview-title h3 {
      font-weight: 700;
      line-height: 55px;
      margin: var(--spacing-xsm) 0;
}



.project-overview .project-overview-wrapper .project-overview-title h3 span {
      color: var(--color-secondary);
      background-color: #FF7F00;
}

.project-overview .project-overview-wrapper .project-overview-explanation {
      color: #3D3D3D;
      font-size: var(--font-main-title-rg);
      font-family: var(--font-main-ko);
      line-height: 33px;
}

.project-overview .project-overview-wrapper .project-overview-explanation span {
      font-weight: 700;
}

/*  project-background */
.project-background {
      margin: var(--spacing-xlg) 0;
}

.project-background .project-background-wrapper .project-subject {
      text-align: left;
}

.project-background .project-background-wrapper .project-subject::before {
      left: 10px;
}

.project-background .project-background-wrapper .project-background-title h3 {
      font-weight: 700;
      line-height: 55px;
      margin: var(--spacing-xsm) 0;
      margin-top: var(--spacing-md);
      font-family: var(--font-main-ko);
      font-size: var(--font-main-title-xlg);
      color: #222222;
}

.project-background .project-background-wrapper .project-background-title h3 span {
      color: #FF7F00;
}

.project-background .project-background-wrapper .project-background-title .project-background-explanation {
      color: #3D3D3D;
      font-size: var(--font-main-title-rg);
      font-family: var(--font-main-ko);
      line-height: 33px;
      position: relative;
}


.project-background .project-background-wrapper .project-background-title .project-background-explanation-img {
      margin: var(--spacing-md);
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
}

.project-background .project-background-wrapper .project-background-title img:first-child {
      width: 80%;
      margin-top: 40px;
      display: block;
      margin: 0 auto;
}

.project-background .project-background-wrapper .project-background-title img:last-child {
      width: 60%;
      display: block;
      margin: 30px auto;
}

.source {
      font-family: var(--font-main-ko);
      font-size: var(--font-main-title-sm);
      color: #ABABAB;
      position: absolute;
      right: 200px;
}

/* project-overview-ins */

.project-overview-ins {
      background: linear-gradient(#353535, #FF7F00);
      padding: 100px 0 0 0;
}

.project-overview-ins .project-subject {
      text-align: left;
      margin-top: 100px;
      color: var(--color-secondary);
}

.project-overview-ins .project-subject:before {
      left: 10px;
}


.project-deskresearch .project-deskresearch-wrapper .project-deskresearch-title {
      font-weight: 700;
      line-height: 55px;
      margin: var(--spacing-xsm) 0;
      margin-top: var(--spacing-md);
      font-family: var(--font-main-ko);
      font-size: var(--font-main-title-xlg);
      color: #FF7F00;
}

.project-deskresearch .project-deskresearch-wrapper .project-deskresearch-title span {
      color: var(--color-secondary);
}

.project-deskresearch .project-deskresearch-user {
      width: 50vw;
      position: relative;
      height: 50vh;
      display: grid;
      justify-content: center;
      margin: var(--spacing-sm) auto;
      margin-top: 120px;
}


.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li {
      background-color: rgba(53, 53, 53, 0.8);
      border: #515151 solid 1px;
      width: 500px;
      height: 100px;
      font-size: var(--font-main-title-md);
      color: var(--color-secondary);
      text-align: center;
      position: absolute;
      font-family: var(--font-main-ko);
      user-select: none
}




.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:first-child {
      border-radius: 30px 30px 30px 0;
      top: 10%;
      left: 10%;
      line-height: 40px;
      padding-top: 10px;
}

.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:first-child::before {
      content: "";
      background: url(./images/shining.svg) no-repeat 100% / 100%;
      width: 117px;
      height: 117px;
      position: absolute;
      left: -40%;
      top: -50%;

}

.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:nth-child(2) {
      border-radius: 30px 30px 0 30px;
      top: 28%;
      right: -10%;
      line-height: 80px;
      padding-top: 10px;
}

.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:nth-child(2)::after {
      content: "";
      background: url(./images/line-shining.svg) no-repeat 100% / 100%;
      width: 70px;
      height: 70px;
      position: absolute;
      right: -30%;
      top: -180%;

}

.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:nth-child(3) {
      border-radius: 30px 30px 30px 0;
      top: 45%;
      left: -10%;
      line-height: 40px;
      padding-top: 10px;
}

.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:nth-child(3)::after {
      content: "";
      background: url(./images/line-shining.svg) no-repeat 100% / 100%;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 70%;
      bottom: -150%;
}

.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:nth-child(4) {
      border-radius: 30px 30px 0 30px;
      top: 62%;
      right: 10%;
      line-height: 80px;
      padding-top: 10px;
}

.project-deskresearch .project-deskresearch-user .project-deskresearch-user-messeage li:nth-child(4)::after {
      content: "";
      background: url(./images/shining.svg) no-repeat 100% / 100%;
      width: 85px;
      height: 85px;
      position: absolute;
      right: -20%;
      bottom: -130%;
}


/* project-uxvision */

.project-uxvision .project-subject {
      text-align: left;
      margin-top: 100px;
      color: var(--color-secondary);
}

.project-overview-ins .project-subject:before {
      left: 10px;
      background: url(./images/project3-subject-before_color.svg) no-repeat 100% / 100%;
}


.project-uxvision .project-uxvision-wrapper .project-uxvision-introduce {
      display: grid;
      grid-template-rows: 1fr 2fr;
}

.project-uxvision .project-uxvision-wrapper .project-uxvision-title {
      font-family: var(--font-main-ko);
      color: var(--color-secondary);
      font-size: var(--font-main-title-xlg);
      line-height: 60px;
      margin: var(--spacing-sm);
      margin-top: 150px;

}

.project-uxvision .project-uxvision-wrapper .project-uxvision-title span {
      display: block;

}

.project-uxvision .project-uxvision-wrapper .project-uxvision-title strong {
      display: block;
      text-indent: 10vw;
}

.project-uxvision .project-uxvision-wrapper .project-uxvision-title strong span {
      display: inline;
}

.project-uxvision .project-uxvision-wrapper .project-uxvision-introduce img {
      height: 80%;
      margin-left: auto;
      grid-row: 1/3;
      grid-column: 2/3;
      margin-top: 80px;
}

.project-uxvision .project-uxvision-wrapper .project-uxvision-introduce {
      margin-right: 10vw;

}

.project-uxvision .project-uxvision-wrapper {
      background: url(./images/project3_uxvision_img_bg.png) no-repeat 100% / 50%;
}

/* asis - tobe 표 */
.project-uxvision-asistobe {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      grid-template-rows: 1fr 5fr;
      text-align: center;
      font-family: var(--font-main-ko);
      gap: 20px;

}


.project-uxvision-asistobe h3 {
      font-family: var(--font-main-en);
      color: var(--color-secondary);
      text-transform: uppercase;
      align-self: flex-end;
}

.project-uxvision-asistobe .project-uxvision-tobe-title {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
}



.project-uxvision-asistobe .project-uxvision-asis li {
      background-color: #353535;
      padding: 18px 10px;
      margin: 30px;
      border-radius: 50px;
      position: relative;
}

.project-uxvision-asistobe .project-uxvision-tobe li {
      background-color: var(--color-secondary);
      padding: 18px 10px;
      margin: 25px;
      border-radius: 50px;
      font-size: 19px;
      font-weight: 600;
}
.project-uxvision-asistobe .project-uxvision-asis li,
.project-uxvision-asistobe .project-uxvision-tobe li{
      margin-top: 0;
}

.project-uxvision-asistobe .project-uxvision-asis li::after {
      content: "";
      width: 30px;
      height: 2px;
      border-bottom: var(--color-secondary) 2px dashed;
      position: absolute;
      right: -55px;
      top: 30px;
}

/* project-ia */


.project-ia .project-subject {
      margin-top: 150px;
      font-family: var(--font-main-ko);
      font-weight: 700;
}

.project-ia .project-ia-wrapper img {
      width: 80%;
      display: block;
      margin: 50px auto;
}

/* project-workflow  */

.project-workflow {
      background-color: #353535;
      padding: 100px;
}
.project-workflow .project-subject {
      margin-bottom: var(--spacing-md);
}

.project-workflow .project-workflow-wrapper img{
      width: 90%;
      display: block;
      margin: 0 auto;
}

/* project-designsystem */
.project-designsystem .project-subject {
      text-align: left;
      margin-top: 100px;
}


.project-designsystem .project-subject:before {
      left: 10px;
}

.project-designsystem .project-designsystem-wrapper {
      color: #000;
      font-family: var(--font-main-en);
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
}


/* 컬러시스템 */

.project-designsystem .project-designsystem-wrapper .project-designsystem-color .index1 {background-color: #ff9900;}
.project-designsystem .project-designsystem-wrapper .project-designsystem-color .index2 {background-color: #AEDA74;}
.project-designsystem .project-designsystem-wrapper .project-designsystem-color .index3 {background-color: #EF3E41;}
.project-designsystem .project-designsystem-wrapper .project-designsystem-color .index4 {background-color: #000;}
.project-designsystem .project-designsystem-wrapper .project-designsystem-color .index5 {background-color: #fff;}
