@charset "utf-8";

/**** fonts ****/
/* Pretendard Variable */
@import url("./pretendardvariable.css");
/*  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
  */

/* PP Nenu Montreal */
@import url("./PPNeueMontreal.css");



/**** css 변수 ****/
:root {
  /* 폰트 */
 --font-main-ko : "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

 --font-main-en : "PPNeueMontreal", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", Arial, sans-serif;


 /* 폰트 크기 */
 --font-main-title-xxlg : 6.875rem; /*110px*/
 --font-main-title-xlg : 2.5rem; /*40px*/
 --font-main-title-lg : 1.875rem; /*30px*/
 --font-main-title-md : 1.5625rem; /*25px*/
 --font-main-title-rg : 1.25rem; /*20px*/
 --font-main-title-sm : 0.75rem; /*12px*/


 /* 색상 */
 --color-primary: #FF4B1E;
 --color-primary-second: #FF9E86;
 --color-secondary: #FFFBEA;
 
 --color-white: #ffffff;


 /* border */
 --border-btm-primary: 3px solid var(--color-primary);
 --border-btm-primary-skill: 2px solid var(--color-primary);

 /* spacing */
 --spacing-xxxlg: 11.25rem;/* 180px */
 --spacing-xxlg: 9.375rem;/* 150px */
 --spacing-xlg: 8.75rem;/* 140px */
 --spacing-lg: 6.5625rem; /* 105px */
 --spacing-md: 4.375rem; /* 70px */
 --spacing-sm: 3.125rem; /* 50px */
 --spacing-xsm: 1.5625rem; /* 25px */
 --spacing-xxsm: 0.75rem; /* 12px */

}

/**** global style ****/
/* 부드러운 스크롤 및 커서 */
html {
  scroll-behavior: smooth;

}

/* 드래그 */
html ::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* 스크롤바 */



/* 커서 */
 body {
  cursor: url(../../images/cursor.png) 2 2, auto;
} 

footer {
  cursor: url(../../images/cursor2-01.png) 2 2, auto;
}


/* 커서 커스텀 */
#cursor {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}

@media (hover: hover) and (pointer: fine) {
  .cursor-circle {
    width: 56px;
    height: 56px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: 1.5px solid #FF4B1E;
    opacity: 0.8;
    transition:
      opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursor.link1 .cursor-circle, #cursor.link2 .cursor-circle, #cursor.link3 .cursor-circle, #cursor.link4 .cursor-circle {
    width: 100px;
    height: 100px;
    opacity: 0.5;
  }
  
  #cursor.link1 .cursor-circle
   {
    background-color: var(--color-primary); 
    border-color: var(--color-primary);
  }
 
  #cursor.link2 .cursor-circle
   {
    background-color: var(--color-secondary); 
    border-color: var(--color-secondary);
  }
 
  #cursor.link1::after, #cursor.link2::after, #cursor.link3::after, #cursor.link4::after {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}









/* flex 및 grid */
.flex-container {
  display: flex;
  align-items: center;
}
.grid-container {
  display: grid;
}

/* margin */
.margin-sm {
  margin: 0 var(--spacing-sm);
}
.margin-md {
  margin: 0 var(--spacing-md);
}
.margin-lg {
  margin: 0 var(--spacing-lg);
}
.margin-xlg {
  margin: 0 var(--spacing-xlg);
}
.margin-xxlg {
  margin: 0 var(--spacing-xxlg);
}


.padding-sm {
  padding: 0 var(--spacing-sm);
}
.padding-md {
  padding: 0 var(--spacing-md);
}
.padding-lg {
  padding: 0 var(--spacing-lg);
}

/* border */
.border-btm {
  border-bottom: var(--border-btm-primary);
}

/* 제목 */
.main-title {
  font-family: var(--font-main-en);
  font-size: var(--font-main-title-xlg);
  font-weight: 500;
  position: relative;
  margin-top: var(--spacing-xsm);
}

.shiningAll {
  width: 50px; height: 50px;
  margin-top: var(--spacing-lg);
}

/**** body ****/
body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}


/* 1020px 이상일 때 */
/* @media (max-width:1020px) {

} */

/* 768px 이상일 때 */
@media (max-width:768px) {
  :root {
    /* 폰트 크기 */
     --font-main-title-xxlg : 3.25rem; /*52px*/
     --font-main-title-xlg : 1.875rem; /*30px*/
     --font-main-title-lg : 1.5625rem; /*25px*/
     --font-main-title-md : 1.25rem; /*20px*/
     --font-main-title-rg : 1.125rem; /*18px*/
     --font-main-title-sm : 0.75rem; /*12px*/



  /* border */
  --border-btm-primary: 3px solid var(--color-primary);
  --border-btm-primary-skill: 2px solid var(--color-primary);

  /* spacing */
  --spacing-xxxlg: 11.25rem;/* 180px */
  --spacing-xxlg: 9.375rem;/* 150px */
  --spacing-xlg: 8.75rem;/* 140px */
  --spacing-lg: 6.5625rem; /* 105px */
  --spacing-md: 4.375rem; /* 70px */
  --spacing-sm: 3.125rem; /* 50px */
  --spacing-xsm: 1.5625rem; /* 25px */
  --spacing-xxsm: 0.75rem; /* 12px */
  }
}