@charset "utf-8";

/* Unna.css */
@font-face {
  font-family: 'Unna';
  src: local('Unna'),
  url(../fonts/Unna-BoldItalic.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: 'Unna';
  src: local('Unna'),
  url(../fonts/Unna-Italic.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Unna';
  src: local('Unna'),
  url(../fonts/Unna-Bold.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Unna';
  src: url(../fonts/Unna-Regular.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}